<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome our page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, est minus facilis facere natus placeat corrupti accusamus quia repellendus minima eius hic nobis molestias, autem fugiat porro consequuntur tenetur libero?</p>
    <ul>
        <li><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a></li>
        <p><a href="{% url 'send_otp' %}">Login with otp</a></p>
    </ul>

    
</body>
</html>